%h1.main-header Freelancer Profile

%dl.tabs{ data: { tab: true, options: "deep_linking: true; scroll_to_content: false" } }
  %dd.active= link_to "Categories & Skills", "#categories_and_skills"
  %dd= link_to "Portfolio", "#portfolio"

.tabs-content
  .content.active#categories_and_skills
    = render "categories_and_skills"

  .content#portfolio
    portfolio
