%div.contain-to-grid
  %nav.top-bar{"data-topbar" => true}
    %ul.title-area
      %li.name
        %h1= link_to 'Freelance Market', root_path
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          Menu
    .top-bar-section
      %ul.right
        = render 'layouts/navigation_links'
